cachetools==4.0.0
Django==2.2
django-baton==1.5.8
django-ckeditor==5.9.0
django-crispy-forms==1.8.1
django-js-asset==1.2.2
django-taggit==1.2.0
google-api-python-client==1.7.11
google-auth==1.11.2
google-auth-httplib2==0.0.3
httplib2==0.17.0
oauth2client==1.5.2
Pillow==9.3.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pytz==2019.3
rsa==4.0
six==1.14.0
sqlparse==0.3.0
uritemplate==3.0.1

