<!-- Navbar -->
<nav class="navbar navbar-expand-lg main-navbar mt-2 main-nav">
    <div class="container">
        <a class="navbar-brand" href="#"></a>

        <a class="navbar-toggler d-lg-none" type="link" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
        <i class="fa fa-bars"></i>
    </span>
        </a>
        

        <div class="collapse navbar-collapse main-navbar" id="navbarSupportedContent">
            <ul class="navbar-nav ">
                {% for cat in categories %}
                {% if cat.children.count == 0 %}
                <li><a href="" class="nav-link">{{cat.category_name}}</a></li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{cat.category_name}}
                    </a>
                    
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for child in cat.children.all %}
                        <a class="dropdown-item" href="#">{{child.category_name}}</a>
                        
                        {% endfor %}
                    </div>
                    
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
<!-- /Navbar -->
