{% load static %}

<!-- Header -->
<section class="header">

  <div class="row m-0 p-0">
    <div class="col-md-4 m-0 p-0">
      <div class="header-left">
        <div class="banner">
          <img src="{% static 'store/img/head-banner.png' %}" alt="Banner" />
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="header-right">
        <div class="header-right-triangle d-none d-md-block"></div>

        <div class="row">
          <div class="col-md-7">
            <div class="contact">
              <p>
                <span
                  ><i class="fa fa-envelope text-danger"></i>
                  jibon@gmail.com</span
                >
                <span
                  ><i class="fa fa-skype text-danger"></i> live:buysmsms</span
                >
              </p>
            </div>
            <div class="search">
              <form class="form-inline" method="POST" action="{% url 'store:product_search' %}">
                {% csrf_token %}
                <select
                  class="custom-select my-1 mr-sm-2"
                  id="inlineFormCustomSelectPref"
                  name="category" required
                >
                  <option selected value="">All Categories</option>
                  {% for cat in categories %}
                    <option value="{{cat.id}}">{{cat.category_name}}</option>
                  {% endfor %}
                </select>

                <input
                  required
                  type="text"
                  name="search"
                  placeholder="Search for Products"
                  class="form-control"
                />

                <button type="submit" class="btn btn-danger my-1 btn-block-xs-only">
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-5">
            <div class="cart d-flex justify-content-around">
              <div class="cart-left">
                <div class="cart-first float-left pr-5">
                  <a href="{% url 'cart:cart_detail' %}"
                    ><i
                      class="fa fa-shopping-cart text-danger"
                      style="font-size:30px"
                    ></i
                  ></a>
                  <span class="badge badge-warning" id="lblCartCount"> {{request.session.cart|length}} </span>
                </div>
                <div class="cart-second float-right">
                  <p>CART</p>
                  <span>${{cart_total_amount}}</span>
                </div>
              </div>
              <div class="cart-right">
                <a href="#">
                  <i class="fa fa-heart text-danger" style="font-size:30px"></i
                ></a>
                <span class="badge badge-warning" id="lblCartCount"> {{wishlist_length}} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Header -->
