<!-- Navbar -->
<nav class="navbar navbar-expand-lg main-navbar mt-2 main-nav fixed-bottom">
  <div class="container">
    <a class="navbar-brand" href="#">Tags : </a>

    <a
    class="navbar-toggler d-lg-none"
    type="link"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon">
      <i class="fa fa-bars"></i>
    </span>
  </a>

  <div
  class="collapse navbar-collapse main-navbar"
  id="navbarSupportedContent"
  >
  <ul class="navbar-nav ">
    {% for tag in all_tag %}
      <li>
        <a href="" class="nav-link">{{tag.name}}</a>
      </li>
    {% endfor %}

</ul>
</div>
</div>
</nav>
<!-- /Navbar -->
