<!-- Topbar -->
<section class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-7 m-0 p-0">
        <nav class="navbar navbar-expand-sm my-navbar">
          <a class="navbar-brand d-md-none pl-3" href="javascript:void(0)"
            >Menu</a
          >

          <a
            class="navbar-toggler d-lg-none"
            type="link"
            data-toggle="collapse"
            data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon">
              <i class="fa fa-bars" style="font-size:28;"></i>
            </span>
          </a>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 pl-3 pt-md-2">
              <li class="nav-item active">
                <a
                  class="nav-link my-navlink"
                  id="home-link"
                  href="{% url 'store:home' %}"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link my-navlink" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link my-navlink" href="#">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link my-navlink" href="#">Blog</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link my-navlink dropdown-toggle"
                  href="#"
                  id="dropdownId"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Privacy & Policy</a
                >
                <div class="dropdown-menu my-drop" aria-labelledby="dropdownId">
                  <a class="dropdown-item" href="#">Terms & Condition</a>
                  <a class="dropdown-item" href="#">Copyright</a>
                  <a class="dropdown-item" href="#">Disclaimer</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link my-navlink" href="#">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link my-navlink" href="#">Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link my-navlink" href="#">Checkout</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-md-5 m-0 p-0">
        <div class="topbar-right">
          <div class="social-links">
            <ul class="d-flex justify-content-left">
              {% if user.is_authenticated %}
                <a
                  href="{% url 'auth:dashboard' %}"
                  class="pb-2"
                  id="login-register"
                  >Dashboard</a>
                  <a
                  href="{% url 'auth:logout' %}"
                  class="pb-2 border"
                  id="login-register"
                  >Logout</a>
              {% else %}
                 <a
                  href="{% url 'auth:register' %}"
                  class="pb-2"
                  id="login-register"
                  >Login / Register</a>
              {% endif %}
              <li>
                <a href="https://web.facebook.com/buysmmusa/" target="_blank"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="https://twitter.com/buysmmusa24" target="_blank"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="https://www.instagram.com/buysmmusa/" target="_blank"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li>
                <a href="https://www.pinterest.ca/buysmmusa/" target="_blank"
                  ><i class="fa fa-pinterest"></i
                ></a>
              </li>
              <li>
                <a href="http://bit.ly/2UwniSv" target="_blank"
                  ><i class="fa fa-youtube"></i
                ></a>
              </li>
              <li>
                <a href="https://www.reddit.com/user/buysmmusa" target="_blank"
                  ><i class="fa fa-reddit"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/buysmmusa-online-a1033b17a/"
                  target="_blank"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
              <li>
                <a href="" target="_blank"><i class="fa fa-skype"></i></a>
              </li>
              <li>
                <a
                  href="https://en.wikipedia.org/wiki/User:Buysmmusa"
                  target="_blank"
                  ><i class="fa fa-rss"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Topbar -->
