{% extends 'dash_base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
Chanage Password
{% endblock title %}


{% block dashcontent %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h4 class="bg-info text-white p-2 mt-2">Chanage Password</h4>
        {% include 'partials/_alert.html' %}
        <div class="card shadow p-3">
            <form action="{% url 'auth:change_password' %}" method="POST" novalidate>
                {% csrf_token %}
                {{ chanage_password_form|crispy }}
                <input type="submit" value="Change Password" class="btn btn-info btn-sm">
            </div>
        </div>

    </div>
    {% endblock dashcontent %}
