{% extends 'dash_base.html' %} 
{% load static %}

{% block title %}
Dashboard
{% endblock title %}


{% block dashcontent %}
			<div class="row">
				<div class="col-md-8">
					<h4 class="bg-info text-white p-2 mt-2">Profile Info</h4>
          {% include 'partials/_alert.html' %}
					<div class="card shadow p-3">
						<form action="{% url 'auth:edit_profile' %}" method="POST">
            {% csrf_token %}
							<div class="row">
								<div class="col">
									<label for="first_name">First Name</label>
									<input type="text" class="form-control" name="first_name" placeholder="First name" value="{{user.first_name}}">
								</div>
								<div class="col">
									<label for="last_name">Last Name</label>
									<input type="text" class="form-control" name="last_name" placeholder="Last name" value="{{user.last_name}}">
								</div>
							</div>
							<div class="row">
								<div class="col">
									<label for="phone_number">Phone Number</label>
									<input type="text" class="form-control" name="phone_number" placeholder="Phone Number" value="{{user.user_profile.phone_number}}">
								</div>
								<div class="col">
									<label for="address">Address</label>
									<textarea type="text" name="address" class="form-control" placeholder="Address">{{user.user_profile.address}}</textarea>
								</div>
							</div>
							<button class="btn btn-info">Update</button>
						</form>
					</div>
				</div>
				<div class="col-md-4">
					<h4 class="bg-info text-white p-2 mt-2">Profile Picture</h4>
					<div class="card shadow p-3 pt-0"> 
						<img src="{{user.user_profile.profile_pic.url}}" alt="" class="img-fluid rounded-circle mx-auto" style="max-height: 125px; max-width: 125px;">
						<form action="{% url 'auth:edit_profile' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
							<input type="file" name="profile_image" id="" class="form-control-file form-control-sm">
							<button class="btn btn-info btn-block mt-1">Change Profile Picture</button>
						</form>
					</div>
				</div>
			</div>
{% endblock dashcontent %}