{% extends 'base.html' %}
{% load static %}

{% block maincontent %}
<div class="container dashboard">
    <div class="row">
        <div class="col-md-3">
      <h5 class="bg-info p-2 text-white mb-2 mt-2">Dashboard Action</h5>
      <div class="list-group list-group-flush">
        <a href="{% url 'auth:dashboard' %}" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="{% url 'store:store_view' %}" class="list-group-item list-group-item-action bg-light">MyStore</a>
        <a href="{% url 'store:product_view' %}" class="list-group-item list-group-item-action bg-light">Add Product</a>
        {% if  user.user_store %}
            <a href="{% url 'store:my_product' user.user_store.id %}" class="list-group-item list-group-item-action bg-light">My Product</a>
        {% endif %}

        {% if user.user_store %}
            <a href="{% url 'store:my_sell_details' user.user_store.id  %}" class="list-group-item list-group-item-action bg-light">Sell History</a>
        {% endif %}
        <a href="{% url 'store:my_buy_details' user.id  %}" class="list-group-item list-group-item-action bg-light">Buy History</a>
        <a href="{% url 'auth:change_password' %}" class="list-group-item list-group-item-action bg-light">Change Password</a>
    </div>
        </div>
        <div class="col-md-9">
            {% block dashcontent %}

            {% endblock dashcontent %}
        </div>
    </div>
</div>
</div>
{% endblock maincontent %}
