{% extends 'dash_base.html' %} 
{% load static %}


{% load crispy_forms_tags %}

{% block title %}
	Store
{% endblock title %}


{% block dashcontent %}
		{% include 'partials/_alert.html' %}
	
		<div class="card shadow mt-2 p-4">
			<img src="{{store_banner.url}}" alt="">
			<form method="post" action="{% url 'store:store_view' %}" novalidate enctype="multipart/form-data">
		    {% csrf_token %}
		    {{ store_form|crispy }}
		    <button type="submit" class="btn btn-primary">Edit Store</button>
		  </form>
		</div>
	
{% endblock dashcontent %}