{% extends 'base.html' %} 

{% block title %}
    Home
{% endblock title %}


{% block maincontent %}
    <div class="container">
       <div class="row mt-3">
       {% for cat in categories %}
            <div class="col-md-3 col-sm-6">
               <div class="category_card">
                    <a href="{% url 'store:category_product' cat.id %}"><img class="img-fluid" src="{{cat.category_image.url}}" alt=""></a>
                    <a href="{% url 'store:category_product' cat.id %}" class="category_card__overlay">
                        ({{ cat.category_products.count }})
                    </a>
               </div>
            </div>
        {% endfor %}
       </div>
    </div>
{% endblock maincontent %}
    