{% extends 'dash_base.html' %} 
{% load static %}

{% load crispy_forms_tags %}


{% load crispy_forms_tags %}

{% block title %}
Payment Method
{% endblock title %}


{% block dashcontent %}
{% include 'partials/_alert.html' %}
<div class="row">
	<div class="col-md-6">
		<div class="card shadow p-4 mt-2">
			{% if not edit %}
				<form method="post" action="{% url 'store:payment_method' %}" novalidate enctype="multipart/form-data">
					{% csrf_token %}

					{{ payment_method_form|crispy }}
					<button type="submit" class="btn btn-primary">Add Payment Method</button>
				</form>
			{% elif edit %}
			    <form method="post" action="{% url 'store:payment_method_edit' method.id %}" novalidate enctype="multipart/form-data">
					{% csrf_token %}

					{{ payment_method_form|crispy }}
					<button type="submit" class="btn btn-primary">Add Payment Method</button>
				</form>	
			
			{% endif %}
		</div>
	</div>
	<div class="col-md-6">
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>Method Name</th>
					<th>Account Number</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for method in all_payment_method %}
					<tr>
						<td>{{method.method_name}}</td>
						<td>{{method.account_number}}</td>
						<td>
							<a href="{% url 'store:payment_method_edit' method.id %}" class="btn btn-success btn-sm">
								<i class="fa fa-pencil"></i>
							</a>
						</td>
						<td>
							<a href="{% url 'store:payment_method_delete' method.id %}" class="btn btn-danger btn-sm">
								<i class="fa fa-trash"></i>
							</a>
						</td>
					</tr>	
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock dashcontent %}