{% extends 'dash_base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block title %}
    Sell History
{% endblock title %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <h5 class="bg-info p-2 text-white mt-2 shadow">Your Sell History</h5>
        </div>
        <div class="card shadow mt-2 p-4 shadow">
            <table class="table table-hover table-inverse">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Orderd Date</th>
                        <th>Completed</th>
                        <th>Paid</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in sell_details.all %}
                     <tr>
                        <td>
                            {% for i in item.products.all %}
                                {% ifequal i.store.id store_obj.id %}
                                    {{i.name}}
                                {% endifequal %}
                            {% endfor %}
                        </td>
                        <td>
                            {{item.date}}
                        </td>
                        <td>
                            {% if item.completed %}
                                Complted
                            {% else %}
                                Not Completed
                            {% endif %}
                        </td>
                        <td>
                            {% if item.paid %}
                                Paid
                            {% else %}
                                Not Paid
                            {% endif %}
                        </td>
                        <td>
                            Please Wait.<br>
                            You Will Get A Call <br>
                            From Our Admin Panel Soon.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock dashcontent %}

